body{
background-image: url(images/cc.jpg);
background-size: cover;
background-position:center ;
background-repeat: no-repeat;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
header{
    width: 1024px;
    height: 200px;
    text-align: center;
}
nav{
    background-color: rgba(0, 0, 0, 0.329);
    width: 1024px;
    height: 40px;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 14px;
}
main{
    width: 1024px;
    height: 600px;
    text-align: center;
    padding-top: 180px;
}
footer{
    background-color: rgba(0, 0, 0, 0.438);
    width: 1024px;
    height: 40px;
    text-align: center;
    padding-top: 20px;

}
h1{
    font-size: 84px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
a{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    padding-right: 10px;
}
.small{
    font-size: 10px;
}
.font{
    font-family: cursive;
}
h2{
    font-size: 60px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}